@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

/* Font setup */
@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("/fonts/Inter.ttf");
}

@font-face {
    font-family: "Oswald";
    font-weight: 200;
    src: url("/fonts/Oswald.ttf")
}

@font-face {
    font-family: "Terminal";
    src: url("/fonts/Terminal.ttf");
}